SYNC_SLOT__DB__URL=postgresql+asyncpg://pguser:pgpassword@syncslot_db:5432/syncslot_db
SYNC_SLOT__DB__ECHO=0
SYNC_SLOT__DB__ECHO_POOL=0
SYNC_SLOT__DB__POOL_SIZE=5
SYNC_SLOT__DB__MAX_OVERFLOW=10

SYNC_SLOT__PASSWORD__SALT=Tom&Jerry
SYNC_SLOT__JWT__SECRET_KEY=secret_key
SYNC_SLOT__JWT__ALGORITHM=HS256
SYNC_SLOT__JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30
